@using barber_shop.Models.Enums;
@model barber_shop.Models.Service[];
@{
    ViewData["Title"] = "Home";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="imgs/pexels-nikolaos-dimou-1319460 (1).jpg" class="d-block w-100" alt="img1carousel">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="imgs/pexels-dmitry-zvolskiy-1570807 (1).jpg" class="d-block w-100" alt="img2carousel">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="imgs/pexels-dmitry-zvolskiy-1570806 (1).jpg" class="d-block w-100" alt="img3carousel">
        </div>
    </div>
</div>

<hr />

<div class="text-center">
    <h1 class="display-4">Bem vindo usuário</h1>
</div>

<hr />

<p>
    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

    Why do we use it?
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


    Where does it come from?
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi erat nisl, condimentum fermentum fermentum id, imperdiet vel orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nibh lacus, dapibus quis fermentum vitae, feugiat sed purus. Sed ornare nulla eu mauris fermentum placerat. Etiam consectetur leo vitae placerat commodo. Sed eget nunc vel lectus luctus interdum. Fusce dictum nisi tincidunt quam convallis, at sollicitudin enim condimentum. Donec vel est sapien. Nullam eget sapien a leo ultrices tempor ut ut magna. Nullam blandit tempus nunc, non consectetur risus congue non. Nulla in nunc sed tellus aliquam consequat. Vestibulum vulputate, dui pharetra placerat commodo, ante ex imperdiet enim, in porta tortor metus sit amet sapien. Proin imperdiet massa vitae dui rutrum, porta interdum metus semper. Fusce bibendum ante nec eros scelerisque sodales. Cras nec elit mi.

    Nullam sed pellentesque arcu. Nunc non condimentum erat, sed lobortis nulla. Nam blandit ligula non porttitor dignissim. Maecenas vel pharetra tortor. Aenean consectetur erat congue dapibus imperdiet. Maecenas pulvinar pretium risus sed luctus. Duis ultricies felis metus, ac fermentum nunc dictum in. Curabitur sed ligula tincidunt, aliquam lacus in, molestie mauris. Suspendisse potenti. Phasellus mollis velit purus, et gravida sem commodo in. Aliquam volutpat dolor mi, vel vulputate purus varius ut. Maecenas lobortis accumsan dolor id posuere. Nunc condimentum suscipit luctus. Aenean at odio turpis.

    Aliquam venenatis tincidunt sapien at convallis. Donec imperdiet hendrerit lobortis. Donec tristique nisi a purus pulvinar mollis. Vestibulum vitae est eu erat bibendum porttitor mollis vel ligula. Pellentesque egestas, erat id lacinia commodo, nisl velit laoreet mauris, in vulputate quam odio molestie tortor. Mauris convallis ex vitae elit sodales sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus lectus neque, iaculis a magna sed, euismod gravida dui. Nullam laoreet turpis ut dolor malesuada, et vehicula nulla pellentesque. Nam convallis consectetur efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris pulvinar arcu eget egestas placerat.

    Sed molestie dapibus ex in eleifend. Integer nec vehicula elit. Mauris placerat eu erat at pretium. Sed sed lacus mauris. Quisque sodales consectetur mauris. Cras feugiat cursus gravida. Etiam aliquet nulla eleifend, hendrerit quam sed, lobortis nulla.

    Nam bibendum tortor sed neque ornare vestibulum. Nunc nisl ex, posuere in dapibus vel, dapibus ut ex. Suspendisse potenti. Etiam eleifend orci vel vestibulum tincidunt. Aenean nec mi id lectus pretium cursus sed et elit. Nulla hendrerit sapien facilisis sodales dignissim. Suspendisse et efficitur elit. Curabitur vel ante elit. Quisque sed malesuada purus. Morbi a est dignissim eros mattis placerat dapibus ut sapien. Maecenas tincidunt ac elit eu dapibus. Nullam cursus, lectus sed pulvinar pulvinar, odio lectus tincidunt ligula, id laoreet leo nulla ac odio. Morbi lorem nibh, iaculis ac ex a, aliquet facilisis mi. Pellentesque consequat aliquet tortor, nec aliquam odio cursus at. Sed quis ullamcorper orci.

    Nam accumsan, dolor ut accumsan condimentum, magna risus scelerisque lorem, id rhoncus enim tortor ut dui. In vulputate, dui vitae hendrerit iaculis, ligula magna fermentum arcu, non venenatis sem felis a diam. Morbi et lorem fermentum, porta sem quis, ornare elit. Nullam nec ligula at augue interdum pretium. Donec neque lacus, porttitor eu magna et, pellentesque efficitur ipsum. Vivamus justo sapien, ornare eget dolor ut, iaculis rhoncus libero. Aenean feugiat tortor eu pulvinar dignissim. Donec venenatis laoreet sem a facilisis. Morbi commodo dolor id convallis placerat. Cras maximus justo ut felis semper, tincidunt congue tortor semper. Ut tristique at ligula ac sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sem nisl, volutpat in elementum quis, finibus ut mauris. Donec in mauris commodo, efficitur nunc sit amet, mollis justo. Proin tempor egestas blandit. Sed consequat nibh et mauris aliquam luctus.

    Aliquam tristique augue mollis augue sollicitudin, eget varius enim gravida. Suspendisse lobortis sed urna vitae suscipit. Mauris id consectetur libero. Morbi vestibulum ultricies vehicula. Curabitur condimentum ultrices sagittis. Sed malesuada sapien sem, id tincidunt dui malesuada commodo. Quisque porta a turpis nec pellentesque.

    Vestibulum pulvinar augue purus, bibendum vulputate purus aliquet tincidunt. Ut in lorem pellentesque, placerat est non, ornare lectus. Praesent dictum orci quam, vitae consectetur nunc tempus ut. Aliquam ante nibh, facilisis non luctus sed, condimentum vestibulum lectus. Vivamus fermentum aliquet scelerisque. Morbi erat lorem, vehicula sit amet convallis ut, venenatis quis sapien. Mauris tristique eu erat cursus sodales. Integer suscipit, libero sed volutpat maximus, turpis turpis imperdiet lacus, ut volutpat ligula enim in dui. Ut efficitur quis libero quis semper. Phasellus varius ipsum ex, ut convallis purus aliquet ac. In tortor nibh, imperdiet quis vehicula non, gravida semper nulla. Aliquam tincidunt efficitur mi, vel finibus enim fermentum eu. Mauris sollicitudin commodo leo, et volutpat justo pulvinar eget. Sed nec nisl maximus, maximus ipsum in, blandit ligula. Mauris non risus eu mauris aliquet efficitur.

    Pellentesque ac sagittis risus, sit amet facilisis neque. Donec malesuada non ligula ac tincidunt. Sed ullamcorper dictum venenatis. Morbi pretium semper diam, in imperdiet ex posuere quis. Phasellus id pretium elit. Donec semper sed lorem viverra faucibus. Nullam quis sem id diam dapibus elementum. Ut egestas, felis vitae ultrices aliquam, ante nisl mattis magna, id vehicula metus est eget turpis. Praesent in bibendum ligula.

    Vivamus tempor, sem quis lacinia pellentesque, elit leo consectetur nibh, vel maximus nunc tortor ac augue. Nunc ut turpis mauris. Fusce ac ipsum et nunc dapibus venenatis nec vel augue. Nam aliquet tristique sodales. Pellentesque euismod nunc non tristique sollicitudin. Aliquam magna ipsum, efficitur non nisl laoreet, ullamcorper aliquam lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</p>

<div class="text-center">
    <h1 class="display-4" id="serv">Serviços</h1>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.Claims.First().Value == EnumAccountCategory.ADMINISTRATOR.ToString())
        {
            <a asp-action="Register" asp-controller="Service" class="btn btn-primary" id="btn-nenhum-cadastro">Create New</a>
        }
    }
</div>

@foreach (var item in Model)
{
    <div class="container-service mt-3">
        <div class="img-service">
            @{
                var base64 = Convert.ToBase64String(item.Image);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            <img src="@imgSrc" alt="img-service" title="img-service" style="max-width:200px; max-height:200px;">

        </div> <hr>

        <div class="text-service">
            <h1>@item.Name</h1>
            <h1>a</h1>

            <p>
                R$ @Html.DisplayFor(modelItem => item.Value)
            </p>

            <a class="btn btn-primary" asp-action="ToSchedule" asp-controller="Scheduling">Agendar</a>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.Claims.First().Value == EnumAccountCategory.ADMINISTRATOR.ToString())
                {
                    <a class="link" asp-action="Edit" asp-controller="Service" asp-route-id="@item.Id"><p>Editar</p></a>
                    <a class="link" asp-action="Delete" asp-controller="Service" asp-route-id="@item.Id"><p>Deletar</p></a>
                }
            }
        </div>
    </div>
}
