@model barber_shop.Models.ViewModel.UserFormViewModel
@using Microsoft.AspNetCore.Identity;
@using barber_shop.Models.Enums;

@{
    ViewData["Title"] = "Criar Conta";
}

@if (TempData["ErrorRegister"] is not null)
{
    <div class="alert alert-danger alert-dismissible fade show mt-2 container-cadastro" id="alert-register" role="alert" heigth="100px">
        @TempData["ErrorRegister"].ToString()
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container-cadastro">
    <section class="container-registro mt-3">
        <header>Formulário de Registro</header>
        <form class="form-register" asp-action="Register" enctype="multipart/form-data">
            <div class="input-box">
                <label asp-for="User.Name"></label>
                <input id="Nome" asp-for="User.Name" placeholder="Insira seu nome">
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>

            <div class="mt-3" >
                <label asp-for="User.Profile.Image"> </label> <br />
                <input type="file" name="Image" >
            </div>

            <div class="input-box">
                <label asp-for="User.Cpf"></label>
                <input id="cpf" asp-for="User.Cpf" maxlength="14" placeholder="Insira seu CPF" type="text" onblur="formatCpf()" onkeyup="removeCaracteres()">
                <span asp-validation-for="User.Cpf" class="text-danger"></span>
            </div>

            <div class="input-box">
                <label class="control-label">Barbeiro</label>
                <select class="custom-select1" asp-for="User.GenderId" required>
                    <option style="display: inline-block" disabled selected>Selecione um Gênero</option>
                    @foreach (var item in Model.Genders)
                    {
                        <option value="@item.Id">@item.Description</option>
                    }
                </select>
            </div>

            <div class="column-register">
                <div class="input-box">
                    <label asp-for="User.Address.ZipCode"></label>
                    <input id="zipCode" asp-for="User.Address.ZipCode" placeholder="Insira seu CEP">
                    <script>
                        const zipCodeFormat = document.querySelector("#zipCode");

                        zipCodeFormat.addEventListener("keyup", () => {
                            let value = zipCodeFormat.value.replace(/[^0-9]/g, "");

                            zipCodeFormat.value = value;
                        });
                    </script>
                </div>
                <div class="input-box">
                    <label></label>
                    <input id="btnBuscar" class="btn btn-primary" type="button" value="&#128269;" onclick="BuscaCep()" />
                </div>
            </div>
            <span asp-validation-for="User.Address.ZipCode" class="text-danger"></span>

            <div class="input-box">
                <label asp-for="User.Address.PublicPlace"></label>
                <input id="publicPlace" asp-for="User.Address.PublicPlace" placeholder="Insira seu logradouro">
                <span asp-validation-for="User.Address.PublicPlace" class="text-danger"></span>
            </div>

            <div class="input-box">
                <label asp-for="User.Address.Neighborhood"></label>
                <input id="neighborhood" asp-for="User.Address.Neighborhood" placeholder="Insira seu bairro">
                <span asp-validation-for="User.Address.Neighborhood" class="text-danger"></span>
            </div>

            <div class="input-box">
                <label asp-for="User.Address.Locality"></label>
                <input id="locality" asp-for="User.Address.Locality" placeholder="Insira sua localidade">
                <span asp-validation-for="User.Address.Locality" class="text-danger"></span>
            </div>

            <div class="column-register">
                <div class="input-box">
                    <label asp-for="User.Telephone"></label>
                    <input id="telefone" asp-for="User.Telephone" placeholder="Insira seu telefone">
                    <script>
                        const telefone = document.querySelector("#telefone");

                        telefone.addEventListener("keyup", () => {
                            let value = telefone.value.replace(/[^0-9]/g, "");

                            telefone.value = value;
                        });
                    </script>
                    <span asp-validation-for="User.Telephone" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="User.BirthDate"></label>
                    <input id="datadeaniversario" asp-for="User.BirthDate">
                    <span asp-validation-for="User.BirthDate" class="text-danger"></span>
                </div>
            </div>

            <div class="input-box">
                <label asp-for="User.Profile.Email"></label>
                <input id="email" asp-for="User.Profile.Email" placeholder="Insira seu email">
                <span asp-validation-for="User.Profile.Email" class="text-danger"></span>
            </div>

            <div class="input-box">
                <label asp-for="User.Profile.Password"></label>
                <input id="senha" asp-for="User.Profile.Password" type="password" placeholder="Insira sua senha">
                <span asp-validation-for="User.Profile.Password" class="text-danger"></span>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                if (User.Claims.First().Value == EnumAccountCategory.ADMINISTRATOR.ToString())
                {
                    <div class="input-box">
                        <label class="control-label">Perfil</label>
                        <select class="custom-select1" asp-for="User.Profile.CategoryId" required>
                            <option style="display: inline-block" disabled selected>Selecione um Perfil</option>
                            @foreach (var item in Model.AccountCategories)
                            {
                                <option value="@item.Id">@item.Description</option>
                            }
                        </select>
                    </div>
                }
            }
            <button>Cadastrar-se</button>
        </form>
    </section>
</div>

<script src="~/js/register.js"></script>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
