@using barber_shop.Models.Enums;
@model barber_shop.Models.ViewModel.SchedulingFormViewModel

@{
    ViewData["Title"] = "Reagendar";
    Model.CpfResponsible = Model.Scheduling.Client.Cpf;
}

<div class="text-center">
    <h1 class="display-4">Reagendamento</h1>
</div>

<hr />

@if (TempData["ErroUpdateScheduling"] is not null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '@TempData["ErroUpdateScheduling"].ToString()'
        })
    </script>
}
<div class="container-cadastro">
    <section class="container-registro mt-3">
        <header>Registro de Serviço</header>
        <form class="form-register" asp-action="ReSchedule" name="form_reagendar" id="form_reagendar" onchange="AlterouForm()">
            <div class="input-box">
                <label asp-for="Scheduling.Date"></label>
                <input id="dateScheduling" asp-for="Scheduling.Date" onblur="DesabilitaHorarioDomingo()">
                <span asp-validation-for="Scheduling.Date" class="text-danger"></span>
            </div>

            <div class="input-box">
                <label class="control-label">Horário do Agendamento</label>
                <select class="custom-select1" asp-for="Scheduling.SchedulingTimesId" id="horaAgendamento" required>
                    <option style="display: inline-block" disabled selected>Selecione um Horário</option>
                    @foreach (var item in Model.SchedulingTimes)
                    {
                        <option id="@item.Id" value="@item.Id">@item.Description</option>
                    }
                </select>
            </div>

            <div class="input-box">
                <label class="control-label">Barbeiro</label>
                <select id="barbeiro" class="custom-select1" asp-for="Scheduling.BarberId" asp-items="@(new SelectList(Model.Barbers, "Id", "Name"))"></select>
            </div>

            <div class="input-box">
                <label class="control-label">Serviço</label>
                <select class="custom-select" id="servicoSelecionado" asp-for="Scheduling.ServiceId" required>
                    <option style="display: inline-block" disabled selected>Selecione um Serviço</option>
                    @foreach (var item in Model.Services)
                    {
                        <option value="@item.Id" onclick="capturaValor(@item.Value.ToString())">@item.Name</option>
                    }
                </select>
            </div>

            <script>
                $(window).load(function () {
                    document.getElementById("horaAgendamento").value = @Model.Scheduling.SchedulingTimes.Id.ToString();
                    document.getElementById("barbeiro").value = @Model.Scheduling.BarberId.ToString();
                    document.getElementById("servicoSelecionado").value = @Model.Scheduling.ServiceId.ToString();
                    document.getElementById("valorSelecionado").innerText = @Model.Scheduling.Service.Value.ToString();
                });
            </script>

            <div class="input-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                    <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
                </svg>
                <span class="text-title" id="valorSelecionado"></span>
            </div>

            @if (User.Claims.First().Value == nameof(EnumAccountCategory.ADMINISTRATOR) || User.Claims.First().Value == nameof(EnumAccountCategory.BARBER))
            {
                <div class="input-box">
                    <label>CPF do cliente agendado</label>
                    <input id="cpfResponsible" asp-for="CpfResponsible" readonly>
                    <script>
                        cpfResponsible = document.getElementById("cpfResponsible");
                        cpfResponsible.value = cpfResponsible.value.replace(/[^0-9]/g, "").replace(/^([\d]{3})([\d]{3})?([\d]{3})?([\d]{2})?/, "$1.$2.$3-$4");
                    </script>
                </div>
            }

            <button id="reagendar" style="opacity: 0.5;" type="submit" disabled="true">Reagendar</button>
            <input type="hidden" asp-for="Scheduling.Id" />
        </form>
    </section>
</div>

<script src="~/js/register.js"></script>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }