<link rel="stylesheet" type="text/css" href="~/css/service/index.css" />
@using barber_shop.Models.Enums;
@model barber_shop.Models.Service[]

@{
    ViewData["Title"] = "Home Serviço";
}

<div class="text-center">
    <h1 class="display-4">Serviços</h1>
</div>


@foreach (var item in Model)
{
    <div class="container-service mt-3">
        <div class="img-service">
            @{
                var base64 = Convert.ToBase64String(item.Image);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            <img src="@imgSrc" alt="img-service" title="img-service" style="max-width:200px; max-height:200px;">
            <legend>@Html.DisplayFor(modelItem => item.Description)</legend>
        </div> <hr>

        <div class="text-service">
            <h1>@Html.DisplayFor(modelItem => item.Description)</h1>

            <p>
                R$ @Html.DisplayFor(modelItem => item.Value)
            </p>

            <form asp-action="ToSchedule" asp-controller="Scheduling">
                <button class="link-info">Agendar</button>
            </form>
            <a class="link" href="#" target="blank"><p>Agendamento</p></a>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.Claims.First().Value == EnumAccountCategory.ADM.ToString())
                {
                    <a class="link" asp-action="Edit" asp-route-id="@item.Id" target="blank"><p>Editar</p></a>
                    <a class="link" asp-action="Delete" asp-route-id="@item.Id" target="blank"><p>Deletar</p></a>
                }
            }
        </div>
    </div>
}